.nav-text {
    font-size: small;
    font-family: 'Roboto', sans-serif;
}

#logo {
    font-size: 25px !important;
    font-family: 'Nanum Gothic', sans-serif;
}

a:hover {
    color: rgb(190, 152, 221) !important;
}
.nav-text:hover {
    text-decoration: underline;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-light
.navbar-toggler {
    color: rgb(190, 152, 221);
    border-color: rgb(190, 152, 221);
}
.skillbar {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background: #efefef;
    height: 30px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
  }
  
  
  